@model zadatak2.ViewModels.IndexViewModel

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Todo</title>
</head>
<body>
<h1>Todo</h1>
<p><a asp-controller="Todo" asp-action="Add">Add new todo</a>
    <a asp-controller="Todo" asp-action="Completed">See completed todos</a>
</p>
<br/>
    @foreach (var todoModel in @Model.TodoModels)
    {
        <div>
            <b>@todoModel.Text</b> <span style="color: #ff0000">@todoModel.DeadlineWarningText </span><br/>
            @if (@todoModel.DateDue.Length > 0)
            {
                @todoModel.DateDue
                <br/>
            }
            <a asp-controller="Todo" asp-action="MarkAsCompleted" asp-route-itemGuid="@todoModel.ItemId">Mark as completed</a>
            
            <br/>
            <br/>
            <br/>
        </div>
    }

</body>
</html>
